@{
    Layout = null;
}
@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm())
    {
    <div>
        Login: @Html.TextBox("Login")<br />
        Senha: @Html.TextBox("Senha")<br />
        <input type="submit" value="Entrar" />
    </div>
        <div>
            @Model
        </div>
    }
</body>
</html>
